In [9]:
#I will try to use Hybrid Recommendation System that uses both Content-Based Filtering and Collaborative Filtering

In [25]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.preprocessing import OneHotEncoder
from geopy.distance import geodesic

In [26]:
users = pd.read_csv("src/users.csv")
places = pd.read_csv("src/places.csv")
interactions = pd.read_csv("src/user_interactions.csv")

In [27]:
users.head()

   user_id        username                           list_of_places
0        1  michaelhoffman                 [99, 88, 57, 82, 61, 54]
1        2        troberts  [66, 35, 74, 51, 39, 71, 97, 6, 26, 22]
2        3       timothy01                    [94, 88, 61, 100, 22]
3        4         carol56               [21, 2, 8, 23, 75, 40, 81]
4        5         renee95      [50, 62, 61, 1, 79, 26, 70, 44, 38]

In [13]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   user_id         50 non-null     int64
 1   username        50 non-null     object
 2   list_of_places  50 non-null     object
dtypes: int64(1), object(2)
memory usage: 1.3+ KB

In [14]:
print(users.shape)
print(users['user_id'].nunique())

(50, 3)
50

In [15]:
places.head()

,place_id,place_name,category,tags,location
0,1,"Ryan, Potts and Klein",Museum,"luxury,indoor,family-friendly",Amandabury
1,2,Hansen and Sons,Restaurant,"romantic,family-friendly,indoor",New Michelleberg
2,3,Hamilton-Hogan,Library,"vegan,luxury,tourist-friendly",Kimberlybury
3,4,Williams and Sons,Bar,"luxury,outdoor,romantic",Farleyton
4,5,Hill LLC,Cinema,"romantic,cheap,pet-friendly",Melendeztown

In [16]:
places.place_name.nunique()-places.shape[0]

0

In [17]:
places.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   place_id    100 non-null    int64
 1   place_name  100 non-null    object
 2   category    100 non-null    object
 3   tags        100 non-null    object
 4   location    100 non-null    object
dtypes: int64(1), object(4)
memory usage: 4.0+ KB

In [18]:
interactions.head()

   user_id  place_id interaction_type
0       17        79      add_to_list
1       38        59            visit
2        9        24             like
3        4         2            visit
4       45        58            visit

In [19]:
interactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   user_id           300 non-null    int64
 1   place_id          300 non-null    int64
 2   interaction_type  300 non-null    object
dtypes: int64(2), object(1)
memory usage: 7.2+ KB

In [20]:
interactions.interaction_type.nunique()

3

In [21]:
interactions.user_id.min(),interactions.user_id.max()
interactions.place_id.min(),interactions.place_id.max()

(1, 100)

In [22]:
interactions.shape

(300, 3)